image==1.5.33
imageio==2.4.1
imutils==0.5.3
matplotlib==3.2.2
matplotlib-venn==0.11.6
nltk==3.2.5
np-utils==0.5.12.1
numpy==1.18.5
nvidia-ml-py3==7.352.0
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
pandas==1.1.4
pandas-datareader==0.9.0
pandas-gbq==0.13.3
pandas-profiling==1.4.1
pip-tools==4.5.1
Pillow==7.0.0
py==1.9.0
python-chess==0.23.11
python-dateutil==2.8.1
python-louvain==0.14
python-slugify==4.0.1
python-utils==2.4.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scikit-plot==0.3.7
scipy==1.4.1
sklearn==0.0
torch==1.7.0+cu101
torchsummary==1.5.1
torchtext==0.3.1
torchvision==0.8.1+cu101
